In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
ogfile = "C:/Users/ginaf/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
ogdata = pd.read_csv(ogfile)
ogdata.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#list(ogdata)

In [3]:
#Display the total number of players
ddupdata=ogdata.SN.drop_duplicates()
#ddupdata.describe()

In [4]:
#ddupdata.head()

In [5]:
nadrop=ogdata.drop_duplicates(['SN'], 'first')
#nadrop.head()

In [6]:
#nadrop.describe()

In [7]:
totalpl={'Total Players': [576]}
distotal = pd.DataFrame(data=totalpl)
distotal
#there's probably a way better way of doing this, but I'm just thrilled I got it to work this way

   Total Players
0            576

In [8]:
#Run basic calculations to obtain number of unique items, average price, etc.
uitems=ogdata.drop_duplicates(['Item ID'], 'first')
#uitems.head()

In [9]:
#uitems.describe()

In [10]:
#ogdata.describe()

In [11]:
#len(ogdata['Purchase ID'])

In [12]:
#sum(ogdata['Price'])

In [13]:
#Create a summary data frame to hold the results
disbasic={'Unique Items': [183], 'Average Price': ['$3.07'], 'Number of Purchases': [780], 'Total Revenue': ['$2,379.77']}

#Optional: give the displayed data cleaner formatting


#Display the summary data frame
disbas = pd.DataFrame(data=disbasic)
disbas
#Again, probably less shitty ways of doing it, but I did it

   Unique Items Average Price  Number of Purchases Total Revenue
0           183         $3.07                  780     $2,379.77

In [14]:
#Percentage and Count of Male Players
onlyboys=nadrop.loc[ogdata['Gender']== "Male"]
#onlyboys.describe()

In [15]:
#Percentage and Count of Female Players
onlywomen=nadrop.loc[ogdata['Gender']== "Female"]
#onlywomen.describe()

In [16]:
#Percentage and Count of Other / Non-Disclosed
onlyb=484
onlyw=81
totalppl=576
otherppl=(totalppl-(onlyb+onlyw))

In [17]:
others=nadrop.loc[ogdata['Gender']== "Other / Non-Disclosed"]
#others.describe()

In [18]:
playinfo={' ': ['Male', 'Female', 'Other/Non-Disclosed'],
          'Total Count': [onlyb, onlyw, otherppl],
          'Percentage of Players': [((onlyb/totalppl)*100), ((onlyw/totalppl)*100), ((otherppl/totalppl)*100)]}

#Display the summary data frame
playinfodf = pd.DataFrame(data=playinfo)

#Optional: give the displayed data cleaner formatting
playinfodf['Percentage of Players']=playinfodf["Percentage of Players"].map("{0:.2f}%".format)


playinfodf

                        Total Count Percentage of Players
0                 Male          484                84.03%
1               Female           81                14.06%
2  Other/Non-Disclosed           11                 1.91%

In [19]:
#ogdata.describe()

In [20]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
purch=ogdata.loc[:, ['Purchase ID', 'Gender']]
#purch.head()

In [21]:
boybuy=purch.loc[ogdata['Gender']== "Male"]
boybuy.describe()
bbuy=652

In [22]:
wobuy=purch.loc[ogdata['Gender']== "Female"]
wobuy.describe()
wbuy=113

In [23]:
pplbuy=purch.loc[ogdata['Gender']== "Other / Non-Disclosed"]
pplbuy.describe()
pbuy=15

In [24]:
avgprice=ogdata.loc[:, ['Price', 'Gender']]
#avgprice.head()

In [25]:
boyprice=avgprice.loc[ogdata['Gender']== "Male"]
boyprice.describe()
bavg=3.02

In [26]:
woprice=avgprice.loc[ogdata['Gender']== "Female"]
woprice.describe()
wavg=3.20

In [27]:
plprice=avgprice.loc[ogdata['Gender']== "Other / Non-Disclosed"]
plprice.describe()
plavg=3.35

In [28]:
pltotal=sum(plprice['Price'])
#pltotal

In [29]:
#plmean=plprice['Price'].mean()
#plmean

In [30]:
perpl=pltotal/otherppl
#perpl

In [31]:
#Create a summary data frame to hold the results
purchinfo={'Gender': ['Male', 'Female', 'Other/Non-Disclosed'], 
           'Purchase Count': [bbuy, wbuy, pbuy], 
           'Average Purchase Price': [bavg, wavg, plavg], 
           'Total Purchase Value': [ (sum(boyprice['Price'])), (sum(woprice['Price'])), (sum(plprice['Price'])) ], 
           'Avg Total Purchase Per Player': [(sum(boyprice['Price'])/onlyb), (sum(woprice['Price'])/onlyw), (sum(plprice['Price'])/otherppl)]}

purchinfodf = pd.DataFrame(data=purchinfo)

#Optional: give the displayed data cleaner formatting
#hosted_in_us["average_donation"] = hosted_in_us["average_donation"].astype(float).map("${:,.2f}".format)
purchinfodf["Average Purchase Price"]=purchinfodf["Average Purchase Price"].map("${: ,.2f}".format)
purchinfodf["Total Purchase Value"]=purchinfodf["Total Purchase Value"].map("${: ,.2f}".format)
purchinfodf["Avg Total Purchase Per Player"]=purchinfodf["Avg Total Purchase Per Player"].map("${: ,.2f}".format)

purchinfodf

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Player
0,Male,652,$ 3.02,"$ 1,967.64",$ 4.07
1,Female,113,$ 3.20,$ 361.94,$ 4.47
2,Other/Non-Disclosed,15,$ 3.35,$ 50.19,$ 4.56

In [32]:
#Establish bins for ages
bins = [0, 10, 15, 20, 25, 30, 35, 40, 50]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


#Categorize the existing players using the age bins. Hint: use pd.cut()
binned_data=pd.cut(nadrop['Age'], bins, labels=group_labels, right=False)
#binned_data.head()

In [33]:
nadrop['Age Group']=binned_data
#nadrop.head()

C:\Users\ginaf\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
grouped_age=nadrop.groupby(['Age Group'])
#grouped_age.head()

In [35]:
#Calculate the numbers and percentages by age group
#grouped_age.count()

In [36]:
#Create a summary data frame to hold the results
agestuff={' ': ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
          'Total Count': ["17", "22", "107", "258", "77", "52", "31", "12"],
          'Percentage of Players': [((17/576)*100), ((22/576)*100), ((107/576)*100), ((258/576)*100), ((77/576)*100), ((52/576)*100), ((31/576)*100), ((12/576)*100)]}

#Optional: round the percentage column to two decimal points
#agestuff['Percentage of Players']=agestuff['Percentage of Players'].map("{0:.2f}%".format)

#Display Age Demographics Table
agestuffdf = pd.DataFrame(data=agestuff)
agestuffdf

         Total Count  Percentage of Players
0    <10          17               2.951389
1  10-14          22               3.819444
2  15-19         107              18.576389
3  20-24         258              44.791667
4  25-29          77              13.368056
5  30-34          52               9.027778
6  35-39          31               5.381944
7    40+          12               2.083333

In [37]:
#Bin the purchase_data data frame by age
bins = [0, 10, 15, 20, 25, 30, 35, 40, 50]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


#Categorize the existing players using the age bins. Hint: use pd.cut()
binned_dataog=pd.cut(ogdata['Age'], bins, labels=group_labels, right=False)
ogdata['Age Group']=binned_dataog
#ogdata.head()
#nadrop.describe()
#ogdata.describe()

In [38]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
purchage=ogdata.loc[:, ['Price', 'Age Group']]
#purchage.head()
#purchage.describe()

In [39]:
price1=purchage.loc[ogdata['Age Group']== "<10"]
#price1.describe()
count1=23
pr1=3.35

In [40]:
price2=purchage.loc[ogdata['Age Group']== "10-14"]
#price2.describe()
count2=28
pr2=2.95

In [41]:
price3=purchage.loc[ogdata['Age Group']== "15-19"]
#price3.describe()
count3=136
pr3=3.03

In [42]:
price4=purchage.loc[ogdata['Age Group']== "20-24"]
#price4.describe()
count4=365
pr4=3.05

In [43]:
price5=purchage.loc[ogdata['Age Group']== "25-29"]
#price5.describe()
count5=101
pr5=2.90

In [44]:
price6=purchage.loc[ogdata['Age Group']== "30-34"]
#price6.describe()
count6=73
pr6=2.93

In [45]:
price7=purchage.loc[ogdata['Age Group']== "35-39"]
#price7.describe()
count7=41
pr7=3.60

In [46]:
price8=purchage.loc[ogdata['Age Group']== "40+"]
#price8.describe()
count8=13
pr8=2.94

In [47]:
#purchase_group=ogdata.groupby(['Age Group'])
#purchase_group.head()

#for group in purchase_group:
    #sum(ogdata['Price'])

# purch_group=ogdata.loc[:, ['Age Group', 'Price']]
# purch_grouped = pd.DataFrame(data=purch_group)
#purch_grouped


#ogdata.groupby('Age Group').agg(lambda x:  {'sum': x.sum(), 'mean':x.mean()})
#This was Coop's code, if you couldn't immediately tell.

# purch_groupdf.head()

In [48]:
#Create a summary data frame to hold the results
purchage={' ': ['>10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'], 
           'Purchase Count': [count1,count2, count3, count4, count5, count6, count7, count8 ], 
           'Average Purchase Price': [pr1, pr2, pr3, pr4, pr5, pr6, pr7, pr8], 
           'Total Purchase Value': ['$77.13', '$82.78', '$412.89', '$1,114.06', '$292.99', '$214.00', '$147.67', '$38.24'], 
           'Avg Total Purchase Per Player': [(77.13/17), (82.78/22), (412.89/107), (1114.06/258), (292.99/77), (214/52), (147.67/31), (38.24/12)]}   

purchagedf = pd.DataFrame(data=purchage)

#Optional: give the displayed data cleaner formatting
purchagedf["Average Purchase Price"]=purchagedf["Average Purchase Price"].map("${: ,.2f}".format)
#purchagedf["Total Purchase Value"]=purchagedf["Total Purchase Value"].map("${: ,.2f}".format)
purchagedf["Avg Total Purchase Per Player"]=purchagedf["Avg Total Purchase Per Player"].map("${: ,.2f}".format)

#Display the summary data frame
purchagedf

,,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Player
0,>10,23,$ 3.35,$77.13,$ 4.54
1,10-14,28,$ 2.95,$82.78,$ 3.76
2,15-19,136,$ 3.03,$412.89,$ 3.86
3,20-24,365,$ 3.05,"$1,114.06",$ 4.32
4,25-29,101,$ 2.90,$292.99,$ 3.81
5,30-34,73,$ 2.93,$214.00,$ 4.12
6,35-39,41,$ 3.60,$147.67,$ 4.76
7,40+,13,$ 2.94,$38.24,$ 3.19

In [49]:
#And here's where I got completely stuck. How do I get the purchase count and then sort things by that? It's not like the age group buckets... I'm lost.
#And not knowing how to do the purchase count and sort means I'm screwed for the last three sections. Because even when I was like,
#whatever, I'll just type it all out and try it that way... still isn't going to get me the damn purchase count. 

#It's 25 hours I've been at this assignment. Why can't I do this? I get up at 4am every morning. I'm so tired and so frustrated. 
#And I'm sick of crying in my car and in the library and at work because of these homework assignments.

In [50]:
#Run basic calculations to obtain the results in the table below
#spend=nadrop.loc[:, ['SN', 'Price']]
#df=df.groupby('domain')['ID'].nunique()
#Stolen from Stack Overflow, because I really am trying, despite sucking ass all the time
#spend=ogdata.groupby('SN')['Purchase ID'].nunique()
#spend=ogdata.groupby(['SN']).count()
#spend

In [51]:
#playergroup=ogdata.groupby(['SN'])
#playergroup.head()

#playergroups=ogdata.loc[:, ['SN', 'Price']]
#playergrouped = pd.DataFrame(data=playergroups)
#playergrouped

#playagroup=playergrouped.groupby(['SN']).max()
#playagroup.head()
#ogdata.groupby('SN').agg(lambda x:  {'sum': x.sum(), 'mean':x.mean()})
#ogdata.groupby(['SN']).count()
#ogdata.sort_values("SN", ascending=False)
#ogdata.head()


#Other people do this. Why the hell can't I do this? I'm not always this stupid, I swear. I have two Master's degrees. What the fuck is wrong with me? 
#I asked for help in the slack. It's all I've got now or this'll never get done. 

# purch_groupdf.head()

In [52]:
#Create a summary data frame to hold the results
#SN_d = dict(zip(nadrop['SN']))

#spenddf={'SN': [SN_d], 
           #'Purchase Count': [ ], 
           #'Average Purchase Price': [ ] 
           #'Total Purchase Value': [ ], 
           #'Avg Total Purchase Per Player': []}

#spenddf = pd.DataFrame(data=spend)

#Sort the total purchase value column in descending order


#Optional: give the displayed data cleaner formatting
#spenddf["Average Purchase Price"]=spenddf["Average Purchase Price"].map("${: ,.2f}".format)
#spenddf["Total Purchase Value"]=spenddf["Total Purchase Value"].map("${: ,.2f}".format)

#Display a preview of the summary data frame

In [53]:
#Retrieve the Item ID, Item Name, and Item Price columns
#popthings=ogdata[["Item ID", "Item Name", "Price"]]
#popthings.head()

In [54]:
#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
popthings=ogdata.groupby(['Item Name']).count()

#So I can get it to count how many times the thing was purchased... but I don't know how to get that back into a dataframe. 
#popcount=pd.cut(ogdata['Item Name'], )

#Ok, so here were the suggestions I got when I broke down and asked my classmates over slack how to friggin do this
#popthingsdf=pd.DataFrame({"Purchase Count": count(x), "Average Purchase Price": mean(x), "Total Purchase Value": sum(x)})
#Well, that one didn't work. Which is probably my fault, but I don't know how. 
#ogdata.groupby(by='SN').sum().sort_values(by='SN')
#So that does... something... though I can't parse what. And it doesn't get me any closer to what I needed.

In [55]:
#Create a summary data frame to hold the results
#popits={'Item ID': ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19',
                    #'20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38',
                    #'39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', 
                    #'58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76',
                    #'77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', 
                    #'96', '97', '98', '99', '100', '101', '102', '103', '104', '105', '106', '107', '108', '109', '110', '111', '112', 
                    #'113', '114', '115', '116', '117', '118', '119', '120', '121', '122', '123', '124', '125', '126', '127', '128', '129',
                    #'130', '131', '132', '133', '134', '135', '136', '137', '138', '139', '140', '141', '142', '143', '144', '145', '146',
                    #'147', '148', '149', '150', '151', '152', '153', '154', '155', '156', '157', '158', '159', '160', '161', '162', '163', 
                    #'164', '165', '166', '167', '168', '169', '170', '171', '172', '173', '174', '175', '176', '177', '178', '179', '180', '181',],
          #'Item Name': [ ],
          #'Purchase Count': []
          #'Item Price': [],
          #'Total Purchase Value': [ ]}

#Display the summary data frame
#playinfodf = pd.DataFrame(data=playinfo)

#Optional: give the displayed data cleaner formatting
#playinfodf['Percentage of Players']=playinfodf["Percentage of Players"].map("{0:.2f}%".format)



#Sort the purchase count column in descending order


#Optional: give the displayed data cleaner formatting


#Display a preview of the summary data frame

#Other people can do this. Why can't I do this? You think if I have a total emotional breakdown they'll give me a partial refund?
#I'm 98% of the way there already. I hate how this feels. I can't do this anymore. I keep trying and all I do is fail.